@charset "UTF-8";
*, ::after, ::before {
  box-sizing: border-box;
  outline: none; }

a {
  color: inherit; }

a:not([class="btn"]) {
  text-decoration: none; }
  a:not([class="btn"]):hover {
    text-decoration: underline; }

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer; }

html {
  overflow-x: hidden; }

body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #414141; }

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

input[type='text'], input[type='email'] {
  font-weight: 300;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  max-width: 330px;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 15px; }

h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase; }

.center {
  text-align: center; }

.btn {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  transition: background-color .3s;
  width: 100%;
  max-width: 415px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  border: 0; }
  .btn:hover {
    text-decoration: none; }
  .btn.blue {
    background-color: #22AAB8;
    color: white; }
    .btn.blue:hover {
      background-color: #1a828d; }
  .btn.outline {
    border: 1px solid #22AAB8;
    height: 40px;
    line-height: 40px; }
    .btn.outline:hover {
      background-color: #22AAB8;
      color: white; }
  .btn.simple {
    height: auto;
    width: auto;
    max-width: none;
    line-height: 1;
    color: #FF0000;
    text-transform: inherit; }
    .btn.simple:hover {
      text-decoration: underline; }
    .btn.simple.gray {
      color: #A5A5A5; }

.link {
  font-size: 18px;
  color: inherit;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }
  .link::after {
    content: url("../img/arrow-link.svg");
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle; }

.arrow {
  width: 31px;
  height: 31px;
  border-radius: 5px;
  background-color: #22AAB8;
  display: flex;
  justify-content: center;
  align-items: center; }
  .arrow::after {
    content: url("../img/arrow.svg");
    height: 20px; }
  .arrow.right {
    transform: scale(-1, 1); }

.сontrol {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .сontrol .count {
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px; }
    .сontrol .count span {
      color: #C4C4C4; }

#header .top-line {
  padding: 30px 0;
  border-bottom: 1px solid #C4C4C4;
  font-size: 18px; }
  #header .top-line .top-line-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header .top-line .top-line-block .phone {
      font-weight: bold;
      color: #22AAB8; }
      #header .top-line .top-line-block .phone::before {
        content: '';
        background: url("../img/phone.svg") no-repeat 50%;
        display: inline-block;
        vertical-align: middle;
        width: 31px;
        height: 31px;
        margin-right: 10px; }
    #header .top-line .top-line-block .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      #header .top-line .top-line-block .menu ul li {
        margin-right: 30px; }
        #header .top-line .top-line-block .menu ul li.active a {
          color: #22AAB8; }
        #header .top-line .top-line-block .menu ul li:last-child {
          margin-right: 0; }
        #header .top-line .top-line-block .menu ul li a {
          text-decoration: none;
          color: inherit;
          transition: color .3s; }
          #header .top-line .top-line-block .menu ul li a:hover {
            color: #22AAB8; }
    #header .top-line .top-line-block .user-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #header .top-line .top-line-block .user-buttons > * {
        margin-right: 30px; }
        #header .top-line .top-line-block .user-buttons > *:last-child {
          margin-right: 0; }
      #header .top-line .top-line-block .user-buttons .login {
        color: #A5A5A5; }
        #header .top-line .top-line-block .user-buttons .login::before {
          content: '';
          background: url("../img/login.svg") no-repeat 50%;
          display: inline-block;
          vertical-align: middle;
          width: 31px;
          height: 31px;
          margin-right: 10px; }
        #header .top-line .top-line-block .user-buttons .login:hover {
          text-decoration: underline; }
      #header .top-line .top-line-block .user-buttons .compare::before {
        content: '';
        background: url("../img/compare.svg") no-repeat 50%;
        display: inline-block;
        vertical-align: middle;
        width: 37px;
        height: 31px;
        margin-right: 10px; }
      #header .top-line .top-line-block .user-buttons .compare span {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 14px;
        background-color: #E9E9E9;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        letter-spacing: 0;
        color: #929292; }
      #header .top-line .top-line-block .user-buttons .basket {
        background: url("../img/cart.svg") no-repeat 50%;
        width: 35px;
        height: 31px;
        position: relative; }
        #header .top-line .top-line-block .user-buttons .basket span {
          position: absolute;
          top: 11px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          color: #929292; }
      #header .top-line .top-line-block .user-buttons .search button {
        background: url("../img/search.svg") no-repeat 50%;
        width: 30px;
        height: 31px; }

#header .nav-line {
  padding: 25px 0; }
  #header .nav-line .nav-line-block {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #header .nav-line .nav-line-block .logo {
      margin-right: 100px; }
      #header .nav-line .nav-line-block .logo img {
        width: 85px; }
    #header .nav-line .nav-line-block .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold; }
      #header .nav-line .nav-line-block .main-menu ul li {
        margin-right: 100px; }
        #header .nav-line .nav-line-block .main-menu ul li.active a {
          color: #22AAB8; }
        #header .nav-line .nav-line-block .main-menu ul li:last-child {
          margin-right: 0; }
        #header .nav-line .nav-line-block .main-menu ul li a {
          text-decoration: none;
          color: inherit;
          transition: color .3s; }
          #header .nav-line .nav-line-block .main-menu ul li a:hover {
            color: #22AAB8; }

#header .breadcrumbs {
  background-color: #F6F6F6;
  padding: 15px 0;
  font-size: 18px; }
  #header .breadcrumbs .breadcrumbs-block {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #header .breadcrumbs .breadcrumbs-block .item {
      display: flex;
      justify-items: flex-start;
      align-items: center; }
      #header .breadcrumbs .breadcrumbs-block .item:last-child::after {
        display: none; }
      #header .breadcrumbs .breadcrumbs-block .item::after {
        content: '/';
        margin: 0 5px; }
    #header .breadcrumbs .breadcrumbs-block a {
      color: black; }

section.block {
  padding: 50px 0; }

section.with-sea .wrapper::after, section.with-sea .wrapper::before {
  content: '';
  width: 200px;
  height: 171px;
  background: url("../img/sea.svg") no-repeat;
  background-size: 200px;
  display: block;
  position: absolute;
  top: 50%; }

section.with-sea .wrapper::after {
  right: 0;
  transform: translate3d(100%, -50%, 0); }

section.with-sea .wrapper::before {
  left: 0;
  transform: translate3d(-100%, -50%, 0); }

.catalog .catalog-menu {
  padding: 60px 0;
  background-color: #F7F7F7; }
  .catalog .catalog-menu .catalog-menu-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two three" "four two five";
    grid-gap: 30px; }
    .catalog .catalog-menu .catalog-menu-block a {
      min-height: 300px;
      background-size: cover;
      background-position: 50%;
      border-radius: 10px;
      text-decoration: none;
      padding: 15px;
      display: flex; }
      .catalog .catalog-menu .catalog-menu-block a:nth-child(1) {
        grid-area: one;
        justify-content: flex-start;
        align-items: flex-start; }
      .catalog .catalog-menu .catalog-menu-block a:nth-child(2) {
        grid-area: two;
        justify-content: center;
        align-items: flex-end; }
      .catalog .catalog-menu .catalog-menu-block a:nth-child(3) {
        grid-area: three;
        justify-content: flex-end;
        align-items: flex-start; }
      .catalog .catalog-menu .catalog-menu-block a:nth-child(4) {
        grid-area: four;
        justify-content: flex-start;
        align-items: flex-start; }
      .catalog .catalog-menu .catalog-menu-block a:nth-child(5) {
        grid-area: five;
        justify-content: flex-end;
        align-items: flex-start; }
      .catalog .catalog-menu .catalog-menu-block a span {
        font-size: 18px;
        color: #414141;
        background-color: #FFFFFF;
        border-radius: 10px;
        line-height: 40px;
        height: 40px;
        padding: 0 50px; }

.catalog .go-to-catalog {
  padding: 40px 0;
  text-align: center; }

.plus .plus-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -25px; }
  .plus .plus-block .plus-item {
    flex: 0 0 calc(100% / 5 - 100px);
    margin: 0 50px; }

.slider-block .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px; }

.slider-block .slider {
  display: flex;
  justify-content: flex-start;
  margin: 0 -15px; }
  .slider-block .slider .slick-track {
    display: flex; }
  .slider-block .slider .product-card {
    margin: 0 15px;
    height: auto;
    display: flex;
    flex-direction: column; }

.slider-block .center {
  margin-top: 60px; }

.product-card {
  position: relative;
  font-size: 18px; }
  .product-card .image {
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    margin-bottom: 15px; }
  .product-card .badge {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: #22AAB8;
    position: absolute;
    top: 10px;
    right: 10px; }
  .product-card .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.2; }
  .product-card .price {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #22AAB8; }
    .product-card .price .last {
      text-decoration: line-through; }

.map-block {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .map-block .data {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    line-height: 1; }
    .map-block .data .title {
      margin-bottom: 60px; }
    .map-block .data .street {
      background: url("../img/marker.svg") no-repeat 0 4px;
      padding-left: 20px;
      margin-bottom: 20px; }
    .map-block .data .work-times {
      background: url("../img/calendar.svg") no-repeat 0 4px;
      padding-left: 20px; }
      .map-block .data .work-times span {
        color: #22AAB8;
        margin: 0 5px; }
  .map-block #address {
    flex: 0 0 600px;
    height: 405px; }

.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.subscribe .subscribe-block {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .subscribe .subscribe-block form {
    flex: 1; }
    .subscribe .subscribe-block form .title {
      margin-bottom: 90px; }
    .subscribe .subscribe-block form .form-group .email {
      margin-right: 7px; }
    .subscribe .subscribe-block form .politic {
      color: #A5A5A5;
      margin-top: 20px;
      font-size: 18px; }
  .subscribe .subscribe-block .image {
    flex: 0 0 585px;
    margin-right: -260px; }

.subscribe .btn {
  font-size: 24px;
  max-width: 390px; }

.news .news-block .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px; }

.news .news-block .news-wrap {
  display: flex;
  justify-content: flex-start;
  margin: 0 -15px; }
  .news .news-block .news-wrap .news-item {
    flex: 0 0 calc((100% - 415px) / 3 - 30px);
    margin: 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column; }
    .news .news-block .news-wrap .news-item:first-child {
      flex: 0 0 calc(415px - 30px);
      background: white;
      background: -moz-linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
      background: -webkit-linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
      background: linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
      .news .news-block .news-wrap .news-item:first-child .image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0; }
      .news .news-block .news-wrap .news-item:first-child .info {
        color: white;
        margin-top: auto;
        flex: 0 0 auto;
        padding: 18px; }
        .news .news-block .news-wrap .news-item:first-child .info .title {
          margin-bottom: 10px; }
    .news .news-block .news-wrap .news-item .image {
      height: 230px;
      background-size: cover;
      background-position: 50%;
      border-radius: 10px; }
    .news .news-block .news-wrap .news-item .info {
      padding: 18px 18px 45px;
      flex: 1;
      display: flex;
      flex-direction: column; }
      .news .news-block .news-wrap .news-item .info .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px; }
      .news .news-block .news-wrap .news-item .info .date {
        margin-top: auto; }

.about h2 {
  margin-bottom: 35px; }

.about .about-block {
  padding: 45px 80px;
  margin: 0 -80px;
  background-color: #F6F6F6;
  border-radius: 10px; }

#footer {
  background-color: #F6F6F6;
  padding: 65px 0 45px; }
  #footer .footer-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -115px; }
    #footer .footer-block .item {
      flex: 0 0 calc(100% / 3 - 230px);
      margin: 0 115px; }
      #footer .footer-block .item .title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase; }
      #footer .footer-block .item ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #footer .footer-block .item ul li {
          margin-bottom: 20px; }
          #footer .footer-block .item ul li:last-child {
            margin-bottom: 0; }
          #footer .footer-block .item ul li::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #22AAB8;
            vertical-align: middle;
            margin-right: 15px; }
          #footer .footer-block .item ul li a {
            color: inherit; }
      #footer .footer-block .item a[class] {
        display: block;
        margin-bottom: 20px; }
        #footer .footer-block .item a[class]:last-child {
          margin-bottom: 0; }
        #footer .footer-block .item a[class]::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px; }
        #footer .footer-block .item a[class].phone::before {
          content: url("../img/call.svg"); }
        #footer .footer-block .item a[class].email::before {
          content: url("../img/email.svg"); }
        #footer .footer-block .item a[class].instagram::before {
          content: url("../img/instagram.svg"); }
  #footer .studio {
    margin-top: 50px; }

.pagination {
  display: flex;
  margin-top: 35px; }
  .pagination.center {
    justify-content: center;
    align-items: center; }
  .pagination a {
    width: 31px;
    height: 31px;
    background: url("../img/arrow-pagination.svg") #22AAB8 no-repeat 50%;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    transition: background-color .3s; }
    .pagination a:hover {
      background-color: #1a828d; }
    .pagination a.next {
      transform: scale(-1, 1); }
  .pagination div {
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px; }
    .pagination div span {
      color: #C4C4C4; }

#card {
  padding: 40px 0; }
  #card h1 {
    font-size: 24px;
    margin: 0 0 20px; }
  #card .card-block .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #card .card-block .card-body {
    display: flex; }
    #card .card-block .card-body .slider-box {
      flex: 0 0 600px;
      max-width: 600px; }
      #card .card-block .card-body .slider-box .slider-big img {
        max-width: 100%; }
      #card .card-block .card-body .slider-box .slider-thumb {
        margin-top: 20px;
        padding: 0 40px;
        position: relative; }
        #card .card-block .card-body .slider-box .slider-thumb .slick-arrow {
          font-size: 0;
          width: 30px;
          height: 30px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          margin-top: -15px; }
          #card .card-block .card-body .slider-box .slider-thumb .slick-arrow.slick-prev {
            left: 0; }
          #card .card-block .card-body .slider-box .slider-thumb .slick-arrow.slick-next {
            right: 0;
            transform: scale(-1, 1); }
          #card .card-block .card-body .slider-box .slider-thumb .slick-arrow::after {
            content: url("../../files/img/arrow-slider.svg"); }
        #card .card-block .card-body .slider-box .slider-thumb div {
          margin: 0 4px;
          cursor: pointer; }
          #card .card-block .card-body .slider-box .slider-thumb div img {
            max-height: 195px;
            max-width: 100%; }
      #card .card-block .card-body .slider-box .address {
        margin-top: 50px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        #card .card-block .card-body .slider-box .address .title {
          margin-bottom: 20px; }
        #card .card-block .card-body .slider-box .address .street {
          background: url("../img/marker.svg") no-repeat 0 4px;
          padding-left: 20px;
          margin-bottom: 20px; }
        #card .card-block .card-body .slider-box .address .work-times {
          background: url("../img/calendar.svg") no-repeat 0 4px;
          padding-left: 20px; }
          #card .card-block .card-body .slider-box .address .work-times span {
            color: #22AAB8;
            margin: 0 5px; }
    #card .card-block .card-body .data {
      flex: 1;
      font-size: 18px;
      padding-left: 35px; }
      #card .card-block .card-body .data .product-number {
        margin-bottom: 20px; }
      #card .card-block .card-body .data .price-block {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #card .card-block .card-body .data .price-block .price {
          font-weight: bold;
          font-size: 24px;
          line-height: 2; }
        #card .card-block .card-body .data .price-block .quantity-block {
          margin: 0 auto; }
          #card .card-block .card-body .data .price-block .quantity-block .quant-btn {
            width: 31px;
            height: 31px;
            background-color: #22AAB8;
            border: 0;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            transition: background-color .3s; }
            #card .card-block .card-body .data .price-block .quantity-block .quant-btn:hover {
              background-color: #1a828d; }
          #card .card-block .card-body .data .price-block .quantity-block input {
            font-weight: bold;
            font-size: 18px;
            height: 31px;
            line-height: 30px;
            width: 50px;
            text-align: center;
            border: 0;
            padding: 0; }
      #card .card-block .card-body .data .bonus {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px; }
      #card .card-block .card-body .data .add-cart {
        max-width: 100%;
        font-size: 24px;
        margin-top: 20px; }
      #card .card-block .card-body .data .props {
        margin-top: 25px;
        padding: 30px 0;
        border-top: 1px solid #F6F6F6;
        border-bottom: 1px solid #F6F6F6; }
        #card .card-block .card-body .data .props .props-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 18px;
          margin-bottom: 10px; }
          #card .card-block .card-body .data .props .props-item:last-child {
            margin-bottom: 0; }
      #card .card-block .card-body .data .pluses {
        margin-top: 20px;
        background-color: #F6F6F6; }
        #card .card-block .card-body .data .pluses .pluses-block {
          display: flex;
          justify-content: space-between;
          padding: 17px;
          font-size: 14px;
          line-height: 16px;
          border-bottom: 1px solid #6E6E6E; }
          #card .card-block .card-body .data .pluses .pluses-block .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start; }
            #card .card-block .card-body .data .pluses .pluses-block .item img {
              margin-bottom: 10px; }
            #card .card-block .card-body .data .pluses .pluses-block .item .text {
              margin-top: auto; }
        #card .card-block .card-body .data .pluses .help-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 17px; }
          #card .card-block .card-body .data .pluses .help-block .info div:first-child {
            font-size: 18px; }
          #card .card-block .card-body .data .pluses .help-block .info div:last-child {
            margin-top: 4px;
            font-size: 13px; }
          #card .card-block .card-body .data .pluses .help-block .tel {
            white-space: nowrap;
            font-weight: bold;
            font-size: 24px; }
  #card .tabs-block {
    background-color: #F6F6F6;
    margin-top: 60px; }
    #card .tabs-block .tabs {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 1px solid #22AAB8; }
      #card .tabs-block .tabs li {
        padding: 25px 60px;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        transition: .1s background-color, .1s color; }
        #card .tabs-block .tabs li.current, #card .tabs-block .tabs li:hover {
          transition: .3s background-color, .3s color;
          background-color: #22AAB8;
          color: white; }
    #card .tabs-block .tab-content {
      display: none;
      background-color: #F6F6F6;
      padding: 30px 45px;
      line-height: 2; }
      #card .tabs-block .tab-content.current {
        display: inherit; }
      #card .tabs-block .tab-content p {
        margin-bottom: 20px; }
        #card .tabs-block .tab-content p:last-child {
          margin-bottom: 0; }
      #card .tabs-block .tab-content ul {
        padding: 0;
        list-style: none;
        line-height: 1; }
        #card .tabs-block .tab-content ul li {
          margin-bottom: 14px; }
          #card .tabs-block .tab-content ul li:last-child {
            margin-bottom: 0; }
          #card .tabs-block .tab-content ul li::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #22AAB8;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px; }
  #card .card-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #card .card-buttons > * {
      margin-right: 15px; }
      #card .card-buttons > *:last-child {
        margin-right: 0; }
    #card .card-buttons .like {
      background: url("../img/like.svg") no-repeat 50%;
      width: 32px;
      height: 30px; }
    #card .card-buttons .compare::before {
      content: '';
      background: url("../img/compare.svg") no-repeat 50%;
      display: inline-block;
      vertical-align: middle;
      width: 37px;
      height: 31px;
      margin-right: 10px; }
    #card .card-buttons .compare span {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 14px;
      background-color: #E9E9E9;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0;
      color: #929292; }

#personal {
  padding: 30px 0; }
  #personal h2 {
    font-size: 24px;
    margin: 0 0 30px;
    text-transform: inherit; }
  #personal .personal-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    #personal .personal-block .personal-menu {
      flex: 0 0 210px;
      list-style: none;
      padding: 0;
      margin: 40px 0 0;
      font-size: 18px; }
      #personal .personal-block .personal-menu li {
        margin-bottom: 20px; }
        #personal .personal-block .personal-menu li:last-child {
          margin-bottom: 0; }
        #personal .personal-block .personal-menu li.active {
          font-weight: bold; }
    #personal .personal-block .personal-item {
      flex: 1; }
      #personal .personal-block .personal-item .personal-wrap {
        background-color: #F6F6F6;
        padding: 40px 35px; }
      #personal .personal-block .personal-item .buttons-group {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #personal .personal-block .personal-item .buttons-group .btn {
          margin-right: 45px; }
          #personal .personal-block .personal-item .buttons-group .btn:last-child {
            margin-right: 0; }

.personal-info .personal-info-item {
  margin-bottom: 25px; }
  .personal-info .personal-info-item .title {
    color: #A7A7A7;
    display: block;
    margin-bottom: 5px; }
  .personal-info .personal-info-item .text {
    font-size: 18px; }

.personal-favorites .favorites-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .personal-favorites .favorites-block .product-card {
    flex: 0 0 calc(100% / 4 - 20px);
    margin: 0 10px; }
    .personal-favorites .favorites-block .product-card .favorites-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px; }
      .personal-favorites .favorites-block .product-card .favorites-header .add-to-cart {
        font-size: 14px;
        font-weight: bold; }
      .personal-favorites .favorites-block .product-card .favorites-header .favorites-delete {
        width: 18px;
        height: 18px;
        background: url("../img/delete.svg") no-repeat 50%;
        opacity: .45;
        transition: .1s opacity; }
        .personal-favorites .favorites-block .product-card .favorites-header .favorites-delete:hover {
          transition: .3s opacity;
          opacity: 1; }
    .personal-favorites .favorites-block .product-card .badge {
      top: 38px; }

.personal-favorites .clear-all {
  margin-top: 40px; }
  .personal-favorites .clear-all .btn {
    max-width: 280px; }

.personal-orders .order-item {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 40px;
  margin-bottom: 40px; }
  .personal-orders .order-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0; }
  .personal-orders .order-item .data {
    font-weight: bold;
    font-size: 18px;
    color: #C4C4C4;
    margin-bottom: 20px; }
  .personal-orders .order-item .order-list .order-list-item {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px; }
    .personal-orders .order-item .order-list .order-list-item:last-child {
      margin-bottom: 0; }
    .personal-orders .order-item .order-list .order-list-item .info {
      display: flex;
      justify-content: flex-start; }
      .personal-orders .order-item .order-list .order-list-item .info .image {
        width: 131px;
        background-size: cover;
        background-position: 50%;
        margin-right: 15px;
        min-height: 140px; }
      .personal-orders .order-item .order-list .order-list-item .info .order-info {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        min-width: 250px; }
        .personal-orders .order-item .order-list .order-list-item .info .order-info .name {
          margin-bottom: 15px; }
        .personal-orders .order-item .order-list .order-list-item .info .order-info .price {
          margin-bottom: 15px; }
        .personal-orders .order-item .order-list .order-list-item .info .order-info .quantity {
          margin-bottom: 15px; }
        .personal-orders .order-item .order-list .order-list-item .info .order-info .status {
          margin-top: auto; }
          .personal-orders .order-item .order-list .order-list-item .info .order-info .status.green {
            color: #22AAB8; }
    .personal-orders .order-item .order-list .order-list-item .repeat {
      max-width: 280px;
      margin-left: 40px; }

.personal-bonus .bonus-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 40px; }
  .personal-bonus .bonus-block .bonus-balanсe {
    flex: 0 0 290px;
    margin-top: 9px; }
    .personal-bonus .bonus-block .bonus-balanсe .amount {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px; }
      .personal-bonus .bonus-block .bonus-balanсe .amount span {
        color: #22AAB8; }
    .personal-bonus .bonus-block .bonus-balanсe .status span {
      font-weight: bold;
      color: #22AAB8; }
  .personal-bonus .bonus-block .bonus-line {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 40px; }
    .personal-bonus .bonus-block .bonus-line .bonus-item {
      background-color: #E2E2E2;
      color: white;
      font-weight: 300;
      line-height: 36px;
      flex: 1;
      padding: 0 8px;
      white-space: nowrap;
      margin-right: 4px;
      text-align: center;
      position: relative; }
      .personal-bonus .bonus-block .bonus-line .bonus-item::after {
        content: attr(data-percent);
        position: absolute;
        top: -40px;
        right: 0;
        display: block;
        background-color: #22AAB8;
        color: white;
        line-height: 26px;
        width: 60px;
        font-weight: bold;
        border-radius: 5px 5px 0 5px;
        text-align: center; }
      .personal-bonus .bonus-block .bonus-line .bonus-item::before {
        content: '';
        position: absolute;
        right: 0;
        top: -14px;
        width: 0;
        height: 0;
        border-top: 12px solid #22AAB8;
        border-left: 6px solid transparent; }
      .personal-bonus .bonus-block .bonus-line .bonus-item.active {
        background-color: #22AAB8; }
      .personal-bonus .bonus-block .bonus-line .bonus-item:first-child {
        border-radius: 10px 0 0 10px; }
      .personal-bonus .bonus-block .bonus-line .bonus-item:last-child {
        flex: 2;
        text-align: right;
        font-weight: bold;
        margin-right: 0;
        border-radius: 0 10px 10px 0; }

.personal-bonus .bonus-rules {
  padding: 30px 0; }
  .personal-bonus .bonus-rules .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px; }
  .personal-bonus .bonus-rules .bonus-rules-item {
    margin-bottom: 10px; }
    .personal-bonus .bonus-rules .bonus-rules-item:last-child {
      margin-bottom: 0; }

.personal-history .history-count {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px; }

.personal-history .table-history {
  width: calc(100% + 70px);
  margin: 0 -35px;
  border-collapse: collapse;
  font-size: 18px;
  margin-top: 40px; }
  .personal-history .table-history thead tr {
    background-color: white; }
    .personal-history .table-history thead tr td {
      height: 60px; }
  .personal-history .table-history tbody tr {
    border-bottom: 1px solid white; }
    .personal-history .table-history tbody tr td {
      height: 80px;
      vertical-align: middle; }
  .personal-history .table-history td:first-child {
    padding-left: 35px; }
  .personal-history .table-history td:last-child {
    padding-right: 35px; }
  .personal-history .table-history td.minus {
    color: red; }
