@import '_variables.scss';

*, ::after, ::before {
  box-sizing: border-box;
  outline: none;
}
a{
  color: inherit;
}

a:not([class="btn"]){
text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

button{
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
html{
  overflow-x: hidden;
}
body{
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #414141;
}

.wrapper{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
input[type='text'], input[type='email'], input[type='tel']{
  font-weight: 300;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  max-width: 330px;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 15px;
}
h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}
.center{
  text-align: center;
}

.btn{
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  transition: background-color .3s;
  width: 100%;
  max-width: 415px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  border: 0;
  &:hover{
    text-decoration: none;
  }
  &.blue{
    background-color: $main-color;
    color: white;
    &:hover{
      background-color: darken($main-color, 10);
    }
  }
  &.outline{
    border: 1px solid $main-color;
    height: 40px;
    line-height: 40px;
    &.big{
      height: 80px;
      line-height: 80px;
      max-width: none;
      width: auto;
      padding: 0 40px;
      font-size: 24px;
      font-weight: normal;
    }
    &:hover{
      background-color: $main-color;
      color: white;
    }
  }
  &.simple{
    height: auto;
    width: auto;
    max-width: none;
    line-height: 1;
    color: #FF0000;
    text-transform: inherit;
    &:hover{
      text-decoration: underline;
    }
    &.gray{
      color: #A5A5A5;
    }
  }
}
.link{
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  &::after{
    content: url('../img/arrow-link.svg');
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}
.arrow{
  width: 31px;
  height: 31px;
  border-radius: 5px;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    content: url('../img/arrow.svg');
    height: 20px;
  }
  &.right{
    transform: scale(-1, 1);
  }

}
.Ñontrol{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .count{
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    span{
      color: #C4C4C4;
    }
  }
}

#header{
  .top-line{
    padding: 30px 0;
    border-bottom: 1px solid #C4C4C4;
    font-size: 18px;
    .top-line-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .phone{
        font-weight: bold;
        color: $main-color;
        &::before{
          content: '';
          background: url('../img/phone.svg') no-repeat 50%;
          display: inline-block;
          vertical-align: middle;
          width: 31px;
          height: 31px;
          margin-right: 10px;
        }
      }
      .menu{
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          li{
            margin-right: 30px;
            &.active{
              a{
                color: $main-color;
              }
            }
            &:last-child{
              margin-right: 0;
            }
            a{
              text-decoration: none;
              color: inherit;
              transition: color .3s;
              &:hover{
                color: $main-color;
              }
            }
          }
        }
      }
      .user-buttons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & > * {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
        .login{
          color: #A5A5A5;
          &::before{
            content: '';
            background: url('../img/login.svg') no-repeat 50%;
            display: inline-block;
            vertical-align: middle;
            width: 31px;
            height: 31px;
            margin-right: 10px;
          }
          &:hover{
            text-decoration: underline;
          }
        }
        .compare{
          &::before{
            content: '';
            background: url('../img/compare.svg') no-repeat 50%;
            display: inline-block;
            vertical-align: middle;
            width: 37px;
            height: 31px;
            margin-right: 10px;
          }
          span{
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 14px;
            background-color: #E9E9E9;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0;
            color: #929292;
          }
        }
        .basket{
          background: url('../img/cart.svg') no-repeat 50%;
          width: 35px;
          height: 31px;
          position: relative;
          span{
            position: absolute;
            top: 11px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            color: #929292;
          }
        }
        .search{
          button{
            background: url('../img/search.svg') no-repeat 50%;
            width: 30px;
            height: 31px;
          }
        }
      }
    }
  }
  .nav-line{
    padding: 25px 0;
    .nav-line-block{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logo{
        margin-right: 100px;
        img{
          width: 85px;
        }
      }
      .main-menu{
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          li{
            margin-right: 100px;
            &.active{
              a{
                color: $main-color;
              }
            }
            &:last-child{
              margin-right: 0;
            }
            a{
              text-decoration: none;
              color: inherit;
              transition: color .3s;
              &:hover{
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
  .breadcrumbs{
    background-color: #F6F6F6;
    padding: 15px 0;
    font-size: 18px;
    .breadcrumbs-block{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .item{
        display: flex;
        justify-items: flex-start;
        align-items: center;
        &:last-child{
          &::after{
            display: none;
          }
        }
        &::after{
          content: '/';
          margin: 0 5px;

        }
      }
      a{
        color: black;
      }
    }
  }
}
section{
  &.block{
    padding: 50px 0;
  }
  &.with-sea{
    .wrapper{
      &::after, &::before{
        content: '';
        width: 200px;
        height: 171px;
        background: url('../img/sea.svg') no-repeat;
        background-size: 200px;
        display: block;
        position: absolute;
        top: 50%;
      }
      &::after{
        right: 0;
        transform: translate3d(100%, -50%, 0);
      }
      &::before{
        left: 0;
        transform: translate3d(-100%, -50%, 0);
      }
    }
  }
}
.catalog{
  .catalog-menu{
    padding: 60px 0;
    background-color: #F7F7F7;
    .catalog-menu-block{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "one two three" "four two five";
      grid-gap: 30px;
      a{
        min-height: 300px;
        background-size: cover;
        background-position: 50%;
        border-radius: 10px;
        text-decoration: none;
        padding: 15px;
        display: flex;
        &:nth-child(1){
          grid-area: one;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &:nth-child(2){
          grid-area: two;
          justify-content: center;
          align-items: flex-end;
        }
        &:nth-child(3){
          grid-area: three;
          justify-content: flex-end;
          align-items: flex-start;
        }
        &:nth-child(4){
          grid-area: four;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &:nth-child(5){
          grid-area: five;
          justify-content: flex-end;
          align-items: flex-start;
        }
        span{
          font-size: 18px;
          color: #414141;
          background-color: #FFFFFF;
          border-radius: 10px;
          line-height: 40px;
          height: 40px;
          padding: 0 50px;
        }
      }
    }
  }
  .go-to-catalog{
    padding: 40px 0;
    text-align: center;
  }
}

.plus{
  .plus-block{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -25px;
    .plus-item{
      flex: 0 0 calc(100% / 5 - 100px);
      margin: 0 50px;
    }
  }
}
.slider-block{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  .slider{
    display: flex;
    justify-content: flex-start;
    margin: 0 -15px;

    .slick-track {
      display: flex;
    }
    .product-card{
      margin: 0 15px;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }
  .center{
    margin-top: 60px;
  }
}

.product-card{
  position: relative;
  font-size: 18px;
  .image{
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .badge{
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: $main-color;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .price{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-color;
    .last{
      text-decoration: line-through;
    }
  }
}

.map-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .data{
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    .title{
      margin-bottom: 60px;
    }
    .street{
      background: url('../img/marker.svg') no-repeat 0 4px;
      padding-left: 20px;
      margin-bottom: 20px;
    }
    .work-times{
      background: url('../img/calendar.svg') no-repeat 0 4px;
      padding-left: 20px;
      span{
        color: $main-color;
        margin: 0 5px;
      }
    }
  }
  #address{
    flex: 0 0 600px;
    height: 405px;
  }
}
.form-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subscribe{
  .subscribe-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    form{
      flex: 1;
      .title{
        margin-bottom: 90px;
      }
      .form-group{
        .email{
          margin-right: 7px;
        }
      }
      .politic{
        color: #A5A5A5;
        margin-top: 20px;
        font-size: 18px;
      }
    }
    .image{
      flex: 0 0 585px;
      margin-right: -260px;
    }
  }
  .btn{
    font-size: 24px;
    max-width: 390px;
  }
}
.news{
  .news-block{
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
    }
    .news-wrap{
      display: flex;
      justify-content: flex-start;
      margin: 0 -15px;
      .news-item{
        flex: 0 0 calc((100% - 415px) / 3 - 30px);
        margin: 0 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        &:first-child{
          flex: 0 0 calc(415px - 30px);
          background: rgb(255,255,255);
          background: -moz-linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
          background: -webkit-linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
          background: linear-gradient(0deg, #000000 0%, rgba(58, 58, 58, 0.771637) 31.4%, rgba(255, 255, 255, 0) 102.17%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          .image{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;
          }
          .info{
            color: white;
            margin-top: auto;
            flex: 0 0 auto;
            padding: 18px;
            .title{
              margin-bottom: 10px;
            }
          }
        }
        .image{
          height: 230px;
          background-size: cover;
          background-position: 50%;
          border-radius: 10px;
        }
        .info{
          padding: 18px 18px 45px;
          flex: 1;
          display: flex;
          flex-direction: column;
          .title{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
          }
          .date{
            margin-top: auto;
          }
        }
      }
    }
  }
}
.about{
  h2{
    margin-bottom: 35px;
  }
  .about-block{
    padding: 45px 80px;
    margin: 0 -80px;
    background-color: #F6F6F6;
    border-radius: 10px;
  }
}

#footer{
  background-color: #F6F6F6;
  padding: 65px 0 45px;
  .footer-block{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -115px;
    .item{
      flex: 0 0 calc(100% / 3 - 230px);
      margin: 0 115px;
      .title{
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          &::before{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $main-color;
            vertical-align: middle;
            margin-right: 15px;
          }
          a{
            color: inherit;
          }
        }
      }
      a[class]{
        display: block;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        &::before{
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
        }
        &.phone{
          &::before{
            content: url('../img/call.svg');
          }
        }
        &.email{
          &::before{
            content: url('../img/email.svg');
          }
        }
        &.instagram{
          &::before{
            content: url('../img/instagram.svg');
          }
        }
      }
    }
  }
  .studio{
    margin-top: 50px;
  }
}

.pagination{
  display: flex;
  margin-top: 35px;
  &.center{
    justify-content: center;
    align-items: center;
  }
  a{
    width: 31px;
    height: 31px;
    background: url('../img/arrow-pagination.svg') #22AAB8 no-repeat 50%;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    transition: background-color .3s;
    &:hover{
      background-color: darken($main-color, 10);
    }
    &.next{
      transform: scale(-1, 1);
    }
  }
  div{
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    span{
      color: #C4C4C4;
    }
  }
}
.switch-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span{
    width: 90px;
    text-align: center;
    &.first{
      order: 1;
    }
    &.second{
      order: 3;
    }
  }
  .switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 62px;
    height: 28px;
    background-color: $main-color;
    border-radius: 50px;
    cursor: pointer;
    order: 2;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 6px;
      background: white;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-top: -9px;
      transition: .1s left;
    }
    & ~ .first{
      font-weight: bold;
    }
    &:checked {
      &::after {
        left: 38px;
      }
      & ~ .first{
        font-weight: normal;
      }
      & ~ .second{
        font-weight: bold;
      }
    }
  }
}
.checkbox-box {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;

  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    & ~ .checkmark {

    }
    &:checked{
      & ~ .checkmark {
        background: url('../img/check.svg') white no-repeat 50%;

      }
    }
  }
}
.radio-box {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 22px;
  font-size: 14px;
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
      content: '';
      width: 12px;
      height: 12px;
      background-color: $main-color;
      display: none;
      border-radius: 50%;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    & ~ .checkmark {

    }
    &:checked{
      & ~ .checkmark {
        &::after{
          display: block;
        }

      }
    }
  }
}


@import 'card.scss';
@import 'personal.scss';
@import 'basket.scss';