#personal{
  padding: 30px 0;
  @media screen and (max-width: $md-max){
    padding: 20px 0;
  }
  h2{
    font-size: 24px;
    margin: 0 0 30px;
    text-transform: inherit;
    @media screen and (max-width: $md-max){
      text-align: center;
      margin: 0 0 20px;
    }
    @media screen and (max-width: $sm-max){
        display: none;
    }
  }
  .personal-block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: $sm-max){
      flex-direction: column;
      position: relative;
      padding-top: 45px;
    }
    .personal-menu{
      flex: 0 0 210px;
      list-style: none;
      padding: 0;
      margin: 40px 0 0;
      font-size: 18px;
      position: relative;

      @media screen and (max-width: $md-max){
          font-size: 14px;
        margin: 20px 0 0;
        flex: 0 0 170px;
      }
      @media screen and (max-width: $sm-max){
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding-top: 45px;
        background-color: #ECECEC;
        max-height: 0;
        overflow: hidden;
        transition: .1s max-height;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        &::after{
          content: '';
          background-size: 11px;
          background: url('../img/arrow-slider.svg') no-repeat 50%;
          position: absolute;
          width: 11px;
          height: 19px;
          top: 22px;
          right: 20px;
          transform: translateY(-50%) rotate(-90deg);
        }
        &.open{
          max-height: 300px;
          transition: .3s max-height;
        }
      }
      li{
        margin-bottom: 20px;
        @media screen and (max-width: $md-max){
          margin-bottom: 10px;
        }
        @media screen and (max-width: $sm-max){
          margin-bottom: 0;
            padding: 10px 15px;
          a{
            display: block;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
        &.active{
          font-weight: bold;
         @media screen and (max-width: $sm-max){
           position: absolute;
           top: 0;
           left: 0;
           margin: 0;
           padding: 13px 15px;
           background-color: white;
           width: 100%;
           cursor: pointer;
           border-bottom: 1px solid #C4C4C4;
           a{
             pointer-events: none;
             -moz-user-select: none;
             -khtml-user-select: none;
             user-select: none;
           }
         }
        }
      }
    }
    .personal-item{
      flex: 1;
      @media screen and (max-width: $sm-max){
          width: 100%;
      }
      .personal-wrap{
        background-color: #F6F6F6;
        padding: 40px 35px;
        @media screen and (max-width: $md-max){
          padding: 20px;
        }
        @media screen and (max-width: $sm-max){
          padding: 20px 0;
            background-color: white;
        }
      }
      .buttons-group{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media screen and (max-width: $sm-max){
            flex-direction: column;
        }
        .btn{
          margin-right: 45px;
          @media screen and (max-width: $sm-max){
            margin-right: 0;
            max-width: initial;
            margin-bottom: 25px;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}
.personal-info{
  .personal-info-item{
    margin-bottom: 25px;
    @media screen and (max-width: $md-max){
      margin-bottom: 15px;
    }
    .title{
      color: #A7A7A7;
      display: block;
      margin-bottom: 5px;
    }
    .text{
      font-size: 18px;
      @media screen and (max-width: $md-max){
          font-size: 16px;
      }
      @media screen and (max-width: $sm-max){
          font-size: 14px;
      }
    }
  }
}
.personal-favorites{
  .favorites-block{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
    @media screen and (max-width: $md-max){
        margin: -10px;
    }
    @media screen and (max-width: $sm-max){
        margin: 0;
    }
    .product-card{
      flex: 0 0 calc(100% / 4 - 20px);
      margin: 0 10px;
      @media screen and (max-width: $md-max){
        flex: 0 0 calc(100% / 2 - 20px);
        margin: 10px;
      }
      @media screen and (max-width: $sm-max){
        flex: 0 0 100%;
        margin: 0 0 20px;
          display: flex;
        font-size: 14px;
      }
      .image{
        @media screen and (max-width: $sm-max){
          order: 1;
          flex: 0 0 80px;
          height: 80px;
          margin-bottom: 0;
        }
      }
      .mobile-block{
        @media screen and (max-width: $sm-max){
          order: 2;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 10px;
          .title{
            font-size: 14px;
          }
          .price{
            white-space: nowrap;
            align-items: flex-end;
            .new{
              font-size: 18px;
              margin-right: 15px;
            }
          }

        }
      }
      .favorites-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        @media screen and (max-width: $sm-max){
          order: 3;
          flex-direction: column-reverse;
          margin-bottom: 0;
          margin-left: auto;
        }
        .add-to-cart{
          font-size: 14px;
          font-weight: bold;
          @media screen and (max-width: $sm-max){
              font-size: 0;
            background: url('../img/cart.svg') no-repeat 50% / 22px;
            width: 22px;
            height: 20px;
          }
        }
        .favorites-delete{
          width: 18px;
          height: 18px;
          background: url('../img/delete.svg') no-repeat 50%;
          opacity: .8;
          transition: .1s opacity;
          &:hover{
            transition: .3s opacity;
            opacity: 1;
          }
        }
      }
      .badge{
        top: 38px;
        @media screen and (max-width: $sm-max){
            width: 26px;
          height: 26px;
          font-size: 11px;
          top: 5px;
          right: initial;
          left: 49px;
        }
      }
    }
  }
  .clear-all{
    margin-top: 40px;
    @media screen and (max-width: $sm-max){
      margin-top: 0;
    }
    .btn{
      max-width: 280px;
    }
  }
}
.personal-orders{
  .order-item{
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 40px;
    margin-bottom: 40px;
    @media screen and (max-width: $sm-max){
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }
    .data{
      font-weight: bold;
      font-size: 18px;
      color: #C4C4C4;
      margin-bottom: 20px;
      @media screen and (max-width: $sm-max){
          font-size: 14px;
        text-align: center;
      }
    }
    .order-list{
      .order-list-item{
        font-size: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
        @media screen and (max-width: $md-max){
          flex-direction: column;
        }
        @media screen and (max-width: $sm-max){
            font-size: 14px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        .info{
          display: flex;
          justify-content: flex-start;
          @media screen and (max-width: $sm-max){
              position: relative;
            padding-bottom: 25px;
          }
          .image{
            width: 131px;
            background-size: cover;
            background-position: 50%;
            margin-right: 15px;
            min-height: 140px;
            @media screen and (max-width: $sm-max){
                width: 80px;
              min-height: 80px;
              flex: 0 0 80px;
            }
          }
          .order-info{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            min-width: 250px;
            @media screen and (max-width: $sm-max){
                min-width: initial;
              justify-content: space-between;
            }
            .name{
              margin-bottom: 15px;
              @media screen and (max-width: $sm-max){
                margin-bottom: 5px;
              }
            }
            .price{
              margin-bottom: 15px;
              @media screen and (max-width: $sm-max){
                margin-bottom: 5px;
              }
            }
            .quantity{
              margin-bottom: 15px;
              @media screen and (max-width: $sm-max){
                margin-bottom: 0;
              }
            }
            .status{
              margin-top: auto;
              @media screen and (max-width: $sm-max){
                  position: absolute;
                left: 0;
                bottom: 0;
              }
              &.green{
                color: $main-color;
              }
            }
          }
        }
        .repeat{
          max-width: 280px;
          margin-left: 40px;
          @media screen and (max-width: $md-max){
            margin-left: 0;
            margin-top: 20px;
          }
          @media screen and (max-width: $sm-max){
            margin-top: 15px;
            max-width: initial;
          }
        }
      }
    }
  }
}
.personal-bonus{
  .bonus-block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 40px;
    @media screen and (max-width: $md-max){
        flex-direction: column;
      padding-top: 0;
      padding-bottom: 20px;
    }
    @media screen and (max-width: $sm-max){
      padding-bottom: 0;
      border-bottom: 0;
    }
    .bonus-balan—Åe{
      flex: 0 0 290px;
      margin-top: 9px;
      @media screen and (max-width: $md-max){
          flex: 0 0 auto;
        margin-bottom: 60px;
        margin-top: 0;
      }
      @media screen and (max-width: $sm-max){
        margin-bottom: 0;
      }
      .amount{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        @media screen and (max-width: $sm-max){
            font-size: 14px;
        }
        span{
          color: $main-color;
        }
      }
      .status{
        span{
          font-weight: bold;
          color: $main-color;
        }
      }
    }
    .bonus-line{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-left: 40px;
      @media screen and (max-width: $md-max){
        margin-left: 0;
        width: 100%;
      }
      @media screen and (max-width: $sm-max){
        width: calc(100% + 30px);
        flex-direction: column;
        height: 605px;
        background-color: #F6F6F6;
        padding: 10px 15px;
        margin: 20px -15px 0;

      }
      .bonus-item{
        background-color: #E2E2E2;
        color: white;
        font-weight: 300;
        line-height: 36px;
        flex: 1;
        padding: 0 8px;
        white-space: nowrap;
        margin-right: 4px;
        text-align: center;
        position: relative;
        @media screen and (max-width: $md-max){
          line-height: 30px;
        }
        @media screen and (max-width: $sm-max){
          width: 36px;
          margin-bottom: 5px;
        }
        &::after{
          content: attr(data-percent);
          position: absolute;
          top: -40px;
          right: 0;
          display: block;
          background-color: $main-color;
          color: white;
          line-height: 26px;
          width: 60px;
          font-weight: bold;
          border-radius: 5px 5px 0 5px;
          text-align: center;
          @media screen and (max-width: $md-max){
            line-height: 23px;
            top: -37px;
          }
          @media screen and (max-width: $sm-max){
            right: -15px;
            transform: translate3d(100%, -50%, 0);
            border-radius: 5px;
            top: 50%;
          }
        }
        span{
          @media screen and (max-width: $sm-max){
            color: #414141;
            position: absolute;
            right: -200px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &::before{
          content: '';
          position: absolute;
          right: 0;
          top: -14px;
          width: 0;
          height: 0;
          border-top: 12px solid $main-color;
          border-left: 6px solid transparent;
          @media screen and (max-width: $sm-max){
            top: 50%;
            right: -15px;
            transform: translateY(-50%);
            border-top: 0;
            border-left: 0;
            border-right: 12px solid $main-color;
            border-bottom: 6px solid transparent;
          }
        }
        &.active{
          background-color: $main-color;
        }
        &:first-child{
          border-radius: 10px 0 0 10px;
          @media screen and (max-width: $sm-max){
              border-radius: 10px 10px 0 0;
          }
        }
        &:last-child{
          flex: 2;
          text-align: right;
          font-weight: bold;
          margin-right: 0;
          border-radius: 0 10px 10px 0;
          @media screen and (max-width: $sm-max){
            border-radius: 0 0 10px 10px;
            font-weight: normal;
          }
        }
      }
    }
  }
  .bonus-rules{
    padding: 30px 0;
    @media screen and (max-width: $md-max){
        padding: 20px 0;
    }
    .title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
      @media screen and (max-width: $md-max){
        margin-bottom: 20px;
      }
      @media screen and (max-width: $sm-max){
          font-size: 14px;
        margin-bottom: 15px;
      }
    }
    .bonus-rules-item{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.personal-history{
  .history-count{
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
    @media screen and (max-width: $md-max){
        font-size: 14px;
    }
    @media screen and (max-width: $sm-max){
      margin-top: 0;
    }
  }
  .table-history{
    width: calc(100% + 70px);
    margin: 0 -35px;
    border-collapse: collapse;
    font-size: 18px;
    margin-top: 40px;
    @media screen and (max-width: $md-max){
        font-size: 14px;
      margin: 20px 0 0;
      width: 100%;
    }
    thead{

      tr{
        background-color: white;
        @media screen and (max-width: $sm-max){
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #C4C4C4;
          margin-bottom: 10px;
          padding: 10px 0;
        }
        td{
          height: 60px;
          @media screen and (max-width: $md-max){
            height: 40px;
          }
          @media screen and (max-width: $sm-max){
            height: auto;
            &:nth-child(3){
              display: none;
            }
          }
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid white;
        @media screen and (max-width: $sm-max){
            display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding-top: 25px;
          border-bottom: 1px solid #C4C4C4;
          margin-bottom: 10px;
          padding-bottom: 10px;
          &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
        td{
          height: 80px;
          vertical-align: middle;
          @media screen and (max-width: $md-max){
              height: 60px;
          }
          @media screen and (max-width: $sm-max){
            height: auto;
            &:nth-child(3){
              position: absolute;
              top: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              height: auto;
              font-weight: bold;
            }
          }
        }
      }
    }
    td{
      &:first-child{
        padding-left: 35px;
        @media screen and (max-width: $sm-max){
          padding-left: 0;
        }
      }
      &:last-child{
        padding-right: 35px;
        @media screen and (max-width: $sm-max){
          padding-right: 0;
        }
      }
      &.minus{
        color: red;
      }
    }
  }
}