.mobile-menu {
    visibility: visible;
    width:auto;
    min-height: 100vh;
    clip: unset;
}
.mobile-menu .mobile-menu-block {
    transform: none;
}
@media screen and (max-width: 767px) {
    .mobile-menu .mobile-menu-block {
        overflow-y: scroll;
        max-width: 315px;
    }
}
.modal-message.error-info {
    color: #b74a45;
}
.modal-message {
    margin-top: 15px;
    text-align: left;
}
.modal-message .resend-link {
    text-decoration: underline;
}
.modal-message .resend-link:hover,
.modal-message .resend-link:focus,
.modal-message .resend-link:active {
    text-decoration: none;
}
.form-result.success {
    color: #3ab777;
    font-weight: bold;
}
.form-result.error {
    color: #b74a45;
    font-weight: bold;
}
.form-item.captcha-row .recaptcha{
    display: none;
}
.modal.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    width:auto;
    height:auto;
    background: transparent;
}
.modal.active .modal-block {
    max-height: none;
}
.error-field .title {
    color: #fb1600 !important;
}
.error-field textarea {
    border: 1px solid #b73124 !important;
    box-shadow: 0px 8px 10px -5px #eee0e0 !important;
}
.sms-code.error input {
    border: 1px solid #b73124 !important;
    color:#b73124 !important;
    box-shadow: 0 1px 5px 0 #b7312466;
}
.error-field input {
    border-bottom: 1px solid #b73124 !important;
    box-shadow: 0px 8px 10px -5px #eee0e0 !important;
    color: #fb1600 !important;
}
.filter-item.asc {
    color: #414141;
}

.breadcrumbs .personal-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.breadcrumbs .personal-block .item::after {
    content: '/';
    margin: 0 5px;
}
.breadcrumbs .personal-block .item {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.breadcrumbs .personal-block .item:last-child::after {
    content: '';
}
.breadcrumbs .personal-block a {
    color: black;
    text-decoration: none;
}
.breadcrumbs .personal-block a:hover,
.breadcrumbs .personal-block a:focus,
.breadcrumbs .personal-block a:active {
    text-decoration: underline;
}
.btn.loader {
    position: relative;
    color: transparent;
}
.btn.loader:before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    display: block;
    border: 3px solid #5eb7c1;
    border-top: 3px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
.search-btn {
    cursor:pointer;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.products-wrap {
    width: 100%;
}
.bx_filter_vertical .bx_filter_section .bx_filter_block {
    position: inherit;
}
.bx_filter .bx_filter_section {
    position: relative;
}
.bx_filter_section input[type='text'],
.bx_filter_section nput[type='email'],
.bx_filter_section input[type='tel'] {
    font-size: 1em;
    line-height: 1.4;
    height: auto;
}
#modef_mobile {
    display: none!important;
}
.bx_filter_select_popup .bx_filter_btn_color_icon, .bx_filter .bx_filter_btn_color_icon, .bx_catalog_item_scu .bx_item_detail_scu ul li .cnt span {
    top: calc(50% - 11.5px);
}
.modal-body .personal-info-item {
    display:flex;
        margin-bottom: 15px;
}
.modal-body .personal-info-item .radio-box:last-child {
    margin-right: 0;
}
.modal-body .personal-info-item .radio-box {
    margin-right: 30px;
}
.modal-block.loading {
    position: relative;
}
.modal-block.loading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#212121;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.1;
    border-radius: 10px;
    animation: opacity 0.5s ease-in-out;
}

.modal-block.loading:before {
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: block;
    border: 7px solid #5eb7c1;
    border-top: 7px solid transparent;;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    z-index: 2;
}
@keyframes opacity {
    0% { opacity: 0.1;}
    100% { opacity: 0.3; }
}
@keyframes opacityout {
    0% { opacity: 0.3;}
    100% { opacity: 0; }
}
@keyframes opacityout2 {
    0% { opacity: 1;}
    100% { opacity: 0; }
}
.modal .modal-block .modal-body .btn {
    max-width: 100%;
}
.old-price {
    color: #B0B0B0;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
}

.pluses.mobile {
    display: none;
}
.bx_filter_section-btn {
    display: none;
}
.catalog-menu-block_btn {
    display: none;
}
.products .products-block .filter-block .filter-item .filter-body {
    padding: 0;
}
.products .products-block .filter-block .filter-item .filter-body .filter-body-item .header {
    margin: 0;
    min-height: 30px;
    height: auto;
    padding: 5px 15px;
}
.products .products-block .filter-block .filter-item .filter-body .filter-body-item .body {
    padding: 15px 30px;
}
.products .products-block .filter-block .filter-item .filter-body .filter-body-item,
.products .products-block .filter-block .filter-item .filter-body .filter-body-item:last-child {
    margin-bottom: 0;
}
#footer .studio a {
    font-size: 12px;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .catalog-menu-block_btn,
    .bx_filter_section-btn {
        display: block;
        margin-bottom: 20px;
    }
    .catalog-menu-block_block,
    .bx_filter_section {
        display: none;
    }
    .wrapper {
        max-width: 100%;
    }
    .pluses.mobile {
        display: flex;
        margin-bottom: 20px;
    }
    .pluses.desktop {
        display:none;
    }
    .modal .modal-block .modal-body .sms-code input {
        margin-right: 5px;
    }
}
header .search-input {
    position: relative;
    z-index: 99;
}
.search_result {
    position: absolute;
    width: calc(100% - 160px);
    background: #fff;
    box-shadow: 0 7px 10px #ccc;
    padding: 20px 25px;
    z-index: 9999;
}
.result_item {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-size: 14px;
}
.result_item a {
    padding-right: 10px;
    cursor: pointer;
}
.result_item a:hover,
.result_item a:focus,
.result_item a:active {
    text-decoration: none;
}
.search_result .search__btn {
    display:flex;
    justify-content: center;
    padding-top: 15px;
}
.search_result .search__btn .btn {
    width: 290px;
    line-height: 1;
    font-size: 16px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result__img {
    display: flex;
    width:55px;
    height: 55px;
    background-size: contain;
    margin-right: 15px;
    background-repeat: no-repeat;
}